* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

body{
  background-color: rgb(246, 251, 247);
}

input{
  min-height: 60px;
}

button{
  min-height: 50px;
}

a{
 font-family: Verdana, sans-serif;
}

.nav-link:hover{
  text-decoration: underline;
}

.signUp{
  height: auto;
}

.avatar{
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

hr{
  border: 1px solid lightgray;
}

.signOut{
  bottom: 3.5rem;
  transform: translateX(8px);
  border-radius: 0 0 5px 5px;
  background-color: rgb(138, 196, 243);
  color: white;
}

.user-info{
  font-size: 1.3rem;
}

.invalid-pass{
  height: 50px;
}
 
.register-btn{
  background-color: rgb(70, 209, 133);
  color: white;
  font-family: monospace;
  font-size: 20px;
}

.sign-in-btn{
  background-color: rgb(231, 231, 65);
  color: #ffffff;
  font-size: 20px;
  font-weight: 800;
  font-family: monospace;
}


  